header, main {
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar {
	background: transparent;
	font-weight: 600;
}

.jumbotron {
	background-image: url('img/c0105546-milky_way_galactic_centre_composite-spl.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 580px;
	margin-top: -80px;
	padding-top: 170px;
	text-align: center;

}

#jumbotron-title {
	color: whitesmoke;
	font-weight: 600;
}

.centered {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.card {
	margin-top: 30px;
}

#mars-facts-title {
	padding-left: 12.5px;
}

#mars-facts-table {
	padding-top: 30px;
}

.dataframe {
	font-size: 14px;
}

#hemis-title {
	padding-top: 15px;
	padding-bottom: 10px;
}

hr {
	margin-top: 0rem;
}

.figure {
    margin: 0px 10px 1rem;
}

@media (min-width: 576px) {
	#feat-img {
		width: 600px;
		height: 785px;
	}
}

@media (min-width: 992px) {
	#feat-img {
		width: 600px;
		height: 785px;
		padding: 15px;
		margin-left: -25px;
	}
}

@media (min-width: 1200px) {
	#feat-img {
		width: 600px;
		height: 785px;
		padding: 10px;
		margin-left: 20px;
	}
	#aside {
		padding-right: 45px;
	}
	
	.card {
		margin-top: 30px;
	}

	.dataframe {
		font-size: 16px;
	}
}